@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

body {
    @apply min-h-screen w-full font-poppins dark:bg-[#242424] dark:text-white
}

:root {
    --base-image: linear-gradient(to top, #00f7ff, red, green, yellow);
    --secondary-bg: #135496;
    --secondary-image: linear-gradient(to left, yellow, red, green, #00f7ff);
}

.title {
    background-image: var(--base-image);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    text-transform: uppercase;
}

.bg-base-image {
    background-image: var(--base-image);
}

textarea::-webkit-scrollbar {
    display: none;
}